<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <input class= "form-control input-sm modalText" id="usernameTextbox" type="text" placeholder="Username" ng-model="user.username">
                <input class= "form-control input-sm modalText" id="passwordTextbox" type="password" placeholder="Password" ng-model="password">
                <button id="loginButton" class="btn btn-default" ng-click="ok()">Login</button>
                <p id="modalLabel">or login with</p>
                <img  src="images/%5BFoodieChallenge%5DAsset%20(4).png">
                <img class="socialIcon" src="images/%5BFoodieChallenge%5DAsset%20(5).png">
                <img class="socialIcon" src="images/%5BFoodieChallenge%5DAsset%20(6).png">
            </div>

        </div>
    </div>
</div>